* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */
.debug {
    /* header {
        background-color: rgba(255, 0, 0, 0.356);
        height: 80px;
        border: 1px solid;
    } */

    main {
        /*
        background-color: rgba(0, 0, 255, 0.281);
        border: 1px solid;

        .main-container {
            background-color: rgba(192, 196, 255, 0.705);
            height: 900px;
            flex-direction: column;
            border: 1px solid black;

            .row {
                border: 1px solid black;
                display: flex;
                height: 295px;
                background-color: #00fe7223;
                width: 100%;
            }
        } */
    }

    footer {
        height: 200px;
        background-color: rgba(128, 255, 0, 0.356);
        border: 1px solid;
    }

    /* .left {
        height: 70px;
        background-color: rgba(0, 0, 0, 0.521);
        width: 50%;

    }

    .rigth {
        height: 70px;
        width: 50%;
        background-color: rgba(187, 255, 0, 0.596);
        }
         */
    /* .jumbotron-container {
        background-color: rgba(127, 255, 212, 0.473);
        height: 400px;

        .jumbotron {
            background-color: rgba(255, 0, 0, 0.315);
            height: 100%;
            gap: 20px;

            .jumbo {
                background-color: green;
                height: 50%;
                width: 100%;



            }
        }



    } */


}


/* utility */
.dflex {
    display: flex;
}

:root {
    --drop-btn: #0061fe;
    --drop-btn-hover: #2e7eff;
    --drop-primary: #b4d0e6;
}

a {
    text-decoration: none;
    color: black;

}

.btn-style {
    display: flex;
    background-color: var(--drop-btn);
    align-content: center;
    padding: 3px 15px;
    justify-content: center;

    a {
        color: white;
    }

    &:hover {
        background-color: var(--drop-btn-hover);

    }
}

ul {
    list-style: none;
}

/* start header */
nav {
    width: 100%;
    justify-content: space-between;
}

.header-section {
    max-width: 50%;
    align-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
    font-size: 1.1rem;


}

/* startmain */
main {}

/* startjumbotron */
.jumbotron-container {
    background-color: var(--drop-primary);

}

.jumbotron {
    flex-direction: column;
    align-items: center;


    .jumbo {
        padding: 40px 0 0 0;
        width: 100%;

        h1 {
            font-size: 5rem;
        }

        .jumbo-section {
            flex-direction: column;
            gap: 30px;

            img {
                width: 100%;

            }

            p {
                padding-right: 30px;
            }

            a {

                width: 230px;
                padding: 10px;
                color: white;

            }
        }


    }

    .negativ-margin {
        margin-bottom: -70px;
        align-content: end;
    }

    .arrow {
        font-size: 3rem;
        margin-top: 100px;

        i {
            color: black;
        }
    }
}

.main-container {
    flex-direction: column;
    padding-top: 120px;

}

.row-c {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 40px;


    h1 {
        font-size: 3rem;
    }
}

.row {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    flex-wrap: wrap;



}

.sub-down {
    i {
        color: var(--drop-btn-hover);
    }
}

.subscriptions {


    padding: 10px;

    .user {

        width: 100%;

        i {
            width: 100%;
            border-bottom: 1px solid rgba(128, 128, 128, 0.274);
            text-align: center;
            line-height: 20px;
            padding: 10px;
        }
    }


}

.sub {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;

    .btn-style {
        padding: 10px;
        color: white;
    }

    .sub-type {
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .price {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .monthly {
        color: gray
    }

    .advantages {
        flex-direction: column;
        gap: 15px;
        margin-bottom: 30px;

        a {
            text-decoration: underline;
            color: #3845f6;
        }
    }
}

.sub-down {
    padding: 20px;


}

.card-container {
    border: 1px solid rgba(128, 128, 128, 0.274);
    height: 100%;

    ul {
        li {
            padding: 10px 0;
        }
    }
}